* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  border: 0;
}

html {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  scroll-behavior: smooth;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 25px 40px;
  background-color: rgb(33, 2, 173);
}

.header-logo {
  cursor: pointer;
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(164, 143, 255);
}
.header-logo::after {
  content: "logo";
  color: rgb(255, 255, 255);
}

.header-menu {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
.header-menu li {
  margin-right: 15px;
  color: #fff;
}
.header-menu li:last-child {
  margin-right: 0;
}

.main-content {
  padding: 25px 40px;
  display: flex;
  justify-content: space-between;
}

.main-content__left {
  padding: 25px 40px;
}

.main-content__right {
  padding: 25px 40px;
}

.footer {
  width: 100%;
  background-color: rgb(33, 2, 173);
  padding: 25px;
  text-align: center;
  color: #fff;
}
